//毛玻璃前景色+彩色背景
.blur-btn {
  position: relative;
  width: 155px;
  height: 50px;
  margin: 20px;
  a{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    color: #fff;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: linear-gradient(to left,rgba(255,255,255,0.15),transparent);
      transform: skewX(45deg) translateX(0);
      transition: 0.5s;
    }
  }
  &::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
  }
  &::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
  }
  &:hover{
    a{
      letter-spacing: 3px;
      color: #fff;
      &::before{
        transform: skewX(45deg) translateX(200%);
      }
    }
    &::before{
      bottom: 0;
      height: 50%;
      width: 80%;
      border-radius: 30px;
      transition-delay: 0.5s;
    }
    &::after{
      top: 0;
      height: 50%;
      width: 80%;
      border-radius: 30px;
      transition-delay: 0.5s;
    }
  }
  &:nth-child(1)::before,
  &:nth-child(1)::after{
    background: #ff1f71;
    box-shadow: 0 0 5px #ff1f71,
    0 0 15px #ff1f71,
    0 0 30px #ff1f71,
    0 0 60px #ff1f71;
  }
  &:nth-child(2)::before,
  &:nth-child(2)::after{
    background: #2db2ff;
    box-shadow: 0 0 5px #2db2ff,
    0 0 15px #2db2ff,
    0 0 30px #2db2ff,
    0 0 60px #2db2ff;
  }
  &:nth-child(3)::before,
  &:nth-child(3)::after{
    background: #1eff45;
    box-shadow: 0 0 5px #1eff45,
    0 0 15px #1eff45,
    0 0 30px #1eff45,
    0 0 60px #1eff45;
  }
}


//背景色渐变
.bj-change-btn{
  display: block;
  border-radius: 10px;
  width: auto;
  height: auto;
  padding: 5px 10px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  animation: Gradient 15s ease infinite;
  background-size: 400% 400%;
  @-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  @-moz-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
}

//毛玻璃
.filter-btn{
  width: 500px;
  height: auto;
  padding: 15px 0;
  background: #fff;
  border-radius: 20px;
  transition: all .3s;
  &:hover{
    color: transparent;
    text-shadow:2px 2px 12px #000000;
    box-shadow: 0 0 20px 10px #e1dede;
  }
}

//背景色+边框+阴影+文字
.change-all-btn{
  width: 500px;
  height: 50px;
  line-height: 50px;
  background: #fff;
  border-radius: 20px;
  transition: all .3s;
  box-shadow: 0 0 20px 10px #e1dede;
  position: relative;
  overflow: hidden;
  text-align: center;
  span,em{
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
  }
  span{
    right:0;
    z-index: 1;
  }
  em{
    width: 10px;
    opacity: 0;
    transition: all 2s;
    background: #42A7FF;
    border-radius: 20px;
  }
  &:hover{
    box-shadow:  0 0 0 1px #42A7FF,0 0 0 3px #BDE7FF;
    span{
      color: yellow;
    }
    em{
      opacity: 100%;
      width: 500px;
    }
  }
}

//鼠标经过背景渐变
.mouseover-bj-change-btn{
  position: relative;
  width: auto;
  height: auto;
  padding: 10px 20px;
  color: #fff;
  background: #E73C7E;
  border-radius: 20px;
  &:hover{
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    animation: Gradient 15s ease infinite;
    background-size: 400% 400%;
    @-webkit-keyframes Gradient {
      0% {
        background-position: 0% 50%
      }
      50% {
        background-position: 100% 50%
      }
      100% {
        background-position: 0% 50%
      }
    }
    @-moz-keyframes Gradient {
      0% {
        background-position: 0% 50%
      }
      50% {
        background-position: 100% 50%
      }
      100% {
        background-position: 0% 50%
      }
    }
    @keyframes Gradient {
      0% {
        background-position: 0% 50%
      }
      50% {
        background-position: 100% 50%
      }
      100% {
        background-position: 0% 50%
      }
    }
  }
}

.big-btn{
  padding: 10px 20px;
  background: #fff;
  border-radius: 20px;
  &:hover{
    box-shadow:  0 0 0 1px #42A7FF,0 0 0 3px #BDE7FF;
  }
}

