.json-view-container.one-dark .json-view {
  font-family: Menlo, Consolas, "Courier New", Courier, FreeMono, monospace !important;
}

.json-view-container.one-dark .json-view .json-note {
  color: #909399;
  font-size: 12px;
  font-style: italic;
}

.json-view-container.one-dark .json-view .json-key {
  color: #d27277;
}

.json-view-container.one-dark .json-view .json-value {
  color: #c6937c;
}

.json-view-container.one-dark .json-view .json-value.number {
  color: #bacdab;
}

.json-view-container.one-dark .json-view .json-value.string {
  color: #c6937c;
}

.json-view-container.one-dark .json-view .json-value.boolean {
  color: #659bd1;
}

.json-view-container.one-dark .json-view .json-value.null {
  color: #659bd1;
}

.json-view-container.one-dark .json-view .first-line {
  color: #acb2be;
}

.json-view-container.one-dark .json-view .json-body .base-line {
  border-left: 1px solid #3c4047;
}

.json-view-container.one-dark .json-view .last-line {
  color: #acb2be;
}

.json-view-container.one-dark .json-view .json-item {
  color: #acb2be;
}
